.border-div{
    width: 55%;
    margin: 0 auto;
    border: 20px solid green;
    color: blue;
    background-color: blanchedalmond;
}

.div-dtls{
  padding: 5px;
}

#subm-btn{
  width: 5%;
  margin: 0 auto;
  color: blue;
}

#div-dtls-un, #div-dtls-pw{
  width: 100%;
    margin: 10 auto;
}
#btn{color: blueviolet; background-color: aquamarine; font-style: italic;
}
